@charset "utf-8";
@import url('normalize.css');
@import url('reset.css');
@import url('all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');


/* ----------------- 레이아웃 --------------- */
.container{
    max-width: 1272px;
    /* min-width:1272px;
    width: 80%; */
    margin:0 auto;
}
.content-pd{
    padding: 81px 0;
}
.content-top-pd{
    padding-top: 81px;
}
.cf:after{
    content:'';
    clear:both;
    display: block;
}
.hidden{
    display: none;
}
hr{
    border:none;
    /* border-top:1px solid #a8a8a8; */
    height: 1px;
    background:#a8a8a8;
}
hr.small{
    width: 750px;
    margin:0 auto;
}
.txt-center{
    text-align: center;
}
/* ----------------- 폰트위계 --------------- */
body{
    font-family: 'Open Sans', sans-serif;
    color:#2c2c2c;
    
}
.banner_tt, 
.content_tt, 
.content_desc{
    text-align: center;
}
.banner_tt{
    font-size:54px;
    color: #3a99d8;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.content_tt{
    font-size: 32px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 27px;
}
.content_desc{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 54px;
}
/* ----------------- 배색 --------------- */
.btn.highlight_bg {
    background: #9ac75b;
    color: #55762c;
}
.banner{
    background:#2d3e4f;
    text-align: center;
}
/* ----------------- 링크, 버튼 --------------- */
.btn{
    background: #ebebeb;
    line-height: 39px;
    padding: 0 20px;
    display: inline-block;
    border-radius:4px;
    color: #6e6e6e;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.btn i{
    margin-right: 10px;
}
.btn.big{
    line-height: 54px;
    padding: 0 30px;
}
.link{
    text-decoration: underline;
    color: #9ac75b;
}
/* ------------------ HEADER ------------------ */
header{
    padding: 27px 0;
    background: #fff;
    box-shadow:0 5px 3px rgba(0,0,0,.1);
    /*
    box-shadow:x y blur [size] color;
    */
    transition:0.4s;
}
header.active{
    padding: 14px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(255,255,255,.8);
}
header h1{
    float: left;
}
header nav{
    float: right;
    /* padding: 7.5px 0; */
    line-height: 54px;
}
header nav li{
    float: left;    
}
header nav li + li{
    margin-left: 10px;
}
header nav li:first-child{
    margin-right: 60px;
}
header .logo a{
    width: 161px;
    height: 54px;
    background: url(../images/logo.png) no-repeat;
    display: block;
    text-indent: -100%;
    overflow: hidden;
}
header nav li:first-child{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a8a8a8;
}
header nav li:first-child a{
    color: #2c2c2c;
}
header nav li:first-child span{
    margin: 0 10px;
}

/* ----------------- Slideshow ------------ */
.slide_wrapper{
    position: relative;
    overflow: hidden;
}
.slide_container{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transition:left 0.4s;
}
.slide_container li{
   width: 100%;
   float:left;
}


.slide_wrapper .controls i{
    position: absolute;
    font-size: 45px;
    color: #ebebeb;
    top:calc(50% - 22.5px);
    cursor: pointer;
}
.slide_wrapper .controls i:first-child{
    left: 0;
}
.slide_wrapper .controls i:last-child{
    right: 0;
}
/* ---------------- FOOTER -------------- */
footer .cta{
    background: #292c2e;
    color: #fff;
    text-align: center;
}
footer .cta p{
    color: #a8a8a8;
}
footer address{
    text-align: center;
}
footer address p + p{
    margin-top: 27px;
}

.go_top{
    width: 3rem;
    height: 3rem;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    position: fixed;
    bottom: 100px;
    left:calc(50% + 636px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.go_top.active{
    visibility: visible;
    opacity: 1;
}